nav {
  background-color: #2c62a6;
}
nav header {
  line-height: 40px;
  color: #fff;
}
span em {
  color: red;
  padding: 0 5px;
}
.high-light {
  color: red;
}
.table-bordered {
  width: 100%;
}
.btn-trans-blue {
  color: #2c62a6;
  border: 1px solid #2c62a6;
  background-color: transparent;
}
body {
  background-color: #163b7f;
}
.header {
  overflow: hidden;
}
.header .row {
  overflow: hidden;
  padding-top: 20px;
}
.header .row a {
  height: 40px;
  width: 40px;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 40px;
}
.header .row .fa-question {
  background-color: orange;
  float: left;
}
.header .row .fa-user {
  background-color: #00b7ee;
  float: right;
}
.banner {
  width: 100%;
  background-image: url('../images/home-banner-h5.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
}
.start-box {
  position: absolute;
  text-align: center;
  width: 100%;
}
.start-box .btn-tran-blue {
  border: 1px solid #0066cc;
  color: #0066cc;
  padding: 10px 40px;
  border-radius: 5px;
}
@media srceen and (device-width: 320px) {
  .banner {
    min-height: 460px;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  .banner {
    min-height: 420px;
  }
}
@media screen and (min-width: 414px) and (max-width: 768px) {
  .banner {
    min-height: 657px;
  }
  .start-box {
    bottom: 20%;
  }
}
