<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>支付结果</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/checkout.min.css">
</head>
<body>
<nav class="container">
	<div class="row">
		<header class="col-xs-12">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			支付结果
		</header>	
	</div>
	
</nav>
<div class="container">
	<div class="row text-center checkout-statu">
		<figure>
			<img src="../resources/images/cat_cry.png">	
		</figure>
		<p class="high-light">支付失败！</p>
	</div>
	<div class="row text-center action-box">
		<a href="" class="btn btn-primary">重新支付</a>
	</div>
</div>