<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>首页</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" href="../resources/css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/global.min.css">
</head>
<body>
<nav class="container">
	<div class="row">
		<header class="col-xs-12">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			帮助中心
		</header>	
	</div>
</nav>
<section class="container">
	<p>
		　　无线网络上网可以简单的理解为无线上网，几乎所有智能手机、平板电脑和笔记本电脑都支持无线保真上网，是当今使用最广的一种无线网络传输技术。实际上就是把有线网络信号转换成无线信号，就如在开头大家介绍的一样，使用无线路由器供支持其技术的相关电脑，手机，平板等接收。手机如果有无线保真功能的话．在有Wi-Fi无线信号的时候就可以不通过移动联通的网络上网，省掉了流量费。
	</p>
</section>
</body>