<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>八点后</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" href="../resources/css/index.min.css">
</head>

<body>
<header>
    
        <div class="logo pull-left">
            <a href="">
                <img src="../resources/images/logo2.png">
            </a>
        </div>
        <nav class="pull-right">
            <ul>
                <li><a href="">关于我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">预定流程</a></li>
                <li><a href="">常见问题</a></li>
                <li><a href=""><i class="fa fa-wechat"></i></a></li>
                <li><a href=""><i class="fa fa-weibo"></i></a></li>
            </ul>
        </nav>
</header>


<div id="banner" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#banner" data-slide-to="0" class="active"></li>
    <li data-target="#banner" data-slide-to="1"></li>
    <li data-target="#banner" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../resources/images/banner1.png">
    </div>
    <div class="item">
      <img src="../resources/images/banner2.png">
    </div>
    <div class="item">
      <img src="../resources/images/banner3.png">
    </div>
  </div>
</div>
<div class="content">
    <div class="container">
    <div class="row">
        <div class="col-xs-4">
            <figure><img src="../resources/images/icon_1.png"></figure>
            <span>支持手机，平板，电脑等多种设备连接</span>
        </div>
        <div class="col-xs-4">
            <figure><img src="../resources/images/icon_2.png"></figure>
            <span>专属网络保障信息安全</span>
        </div>
        <div class="col-xs-4">
            <figure><img src="../resources/images/icon_3.png"></figure>
            <span>支持手机，平板，电脑等多种设备连接</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <figure><img src="../resources/images/icon_4.png"></figure>
            <span>价格亲民，流量不封顶</span>
        </div>
        <div class="col-xs-4">
            <figure><img src="../resources/images/icon_5.png"></figure>
            <span>大容量电池，足足5200mA，可做移动电源</span>
        </div>
        <div class="col-xs-4">
            <figure><img src="../resources/images/icon_6.png"></figure>支持手机，平板，电脑等多种设备连接</span>
        </div>
    </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="wechat sns">
                    <figure><img src="../resources/images/qr-fc.jpg" width="129"></figure>
                    <i class="fa fa-wechat fa-2x"></i>微信
                </div>
                <div class="weibo sns">
                    <i class="fa fa-weibo fa-2x"></i>新浪微博
                </div>        
            </div>
            <div class="col-xs-6">
                <p><i class="fa fa-mobile fa-2x"></i><span>400-890-5261</span></p>
                <p><i class="fa fa-copyright fa-2x"></i><span>北京飞猫无限科技有限公司 京ICP备15011999号-2</span></p>
            </div>
        </div>
        
    </div>
</footer>
<script type="text/javascript" src="../resources/js/jquery.low.min.js"></script>
<script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
</body>

</html>
