<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>首页</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" href="../resources/css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/home.min.css">
</head>
<body>
	<div class="header container">
		<div class="row">
			<div class="col-xs-6">
				<a class="fa fa-question img-circle"></a>
			</div>
			<div class="col-xs-6">
				<a class="fa fa-user img-circle"></a>
			</div>
		</div>
	</div>
	<!-- <div class="banner container">
		<div class="row start-box">
			<a href="" class="btn-tran-blue">快速预订</a>	
		</div>
	</div> -->
</body>