<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>首页</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/home.min.css">
</head>
<body>
	<div class="header container">
		<div class="row">
			<img src="../resources/images/home_header.jpg" width="100%">	
		</div>
		<div class="row start-box">
			<a href="" class="btn-tran-blue">快速预订</a>	
		</div>


	</div>
	<div class="banner container">
		<div class="row">
			<img src="../resources/images/banner-sample.png" width="100%">
			<span class="banner-name">韩国</span>
			<span class="banner-detail">4G不限流量￥20/天</span>
		</div>
		<div class="row">
			<img src="../resources/images/banner-sample.png" width="100%">
			<span class="banner-name">韩国</span>
			<span class="banner-detail">4G不限流量￥20/天</span>
		</div>
		<div class="row">
			<img src="../resources/images/banner-sample.png" width="100%">
			<span class="banner-name">韩国</span>
			<span class="banner-detail">4G不限流量￥20/天</span>
		</div>
	</div>
</body>