<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>八点后</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" href="../resources/css/index.min.css">
</head>

<body>
<header>
    <div class="container">
        <div class="logo">
            <a href="">
                <img src="../resources/images/logo.png">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="">关于我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">预定流程</a></li>
                <li><a href="">常见问题</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="banner">
    <ul class="banner-bg">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
    <div class="slogn text-center">
        <img src="../resources/images/logo.png">
        <p>世界那么大，带我去看看</p>
        <a href="" class="btn-start" >立即预订</a>
    </div>
</div>
<div class="content">
    <div class="container">
    <div class="row">
        <div class="col-xs-6">
            <i class="fa fa-link fa-3x"></i>
            <span>支持手机，平板，电脑等多种设备连接</span>
        </div>
        <div class="col-xs-6">
            <i class="fa fa-user-secret fa-3x"></i>
            <span>专属网络保障信息安全</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <i class="fa fa-tags fa-3x"></i>
            <span>价格亲民，流量不封顶</span>
        </div>
        <div class="col-xs-6">
            <i class="fa fa-trash-o fa-3x"></i>
            <span>大容量电池，足足5200mA，可做移动电源</span>
        </div>
    </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="wechat sns">
                    <figure><img src="../resources/images/qr-fc.jpg" width="129"></figure>
                    <i class="fa fa-wechat fa-2x"></i>微信
                </div>
                <div class="weibo sns">
                    <i class="fa fa-weibo fa-2x"></i>新浪微博
                </div>        
            </div>
            <div class="col-xs-6">
                <p><i class="fa fa-mobile fa-2x"></i><span>400-890-5261</span></p>
                <p><i class="fa fa-copyright fa-2x"></i><span>北京飞猫无限科技有限公司 京ICP备15011999号-2</span></p>
            </div>
        </div>
        
    </div>
</footer>
</body>

</html>
