<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>商品清单</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/global.min.css">
</head>
<body>
<nav class="container">
	<div class="row">
		<header class="col-xs-12">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			商品清单
		</header>	
	</div>
</nav>
<div class="container">
	<div class="form-group">
			<table class="table-bordered text-center">
				<thead>
					<tr>
						<th class="col-xs-5">商品名称</th>
						<th class="col-xs-3">数量</th>
						<th class="col-xs-4">商品价格</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Wi-Fi设备</td><td>1台</td><td>¥99</td>
					</tr>
					<tr>
						<td>数据线</td><td>1条</td><td>¥99</td>
					</tr>
					<tr>
						<td>SIM卡</td><td>1张</td><td>¥99</td>
					</tr>
					<tr>
						<td>使用手册</td><td>1本</td><td>¥99</td>
					</tr>
					<tr></tr>
				</tbody>
			</table>			
	</div>
</div>	