<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>订单详情</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/order.min.css">
</head>
<body>
<nav class="container">
	<div class="row">
		<header class="col-xs-12">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			订单详情
		</header>	
	</div>
</nav>
<div class="container">
        	<div class="row table-header">
        		<div class="col-xs-6 text-left">2015-05-01</div>
        		<div class="col-xs-6 text-right high-light">待付款</div>
        	</div>
    		<div class="media ">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="..." alt="..." width="50" height="50">
			    </a>
			  </div>
			  <div class="media-body">
			  	<div class="col-xs-10">
			  		<h4 class="media-heading">商品名称：韩国40元套餐</h4>
				    <div>
				    	<span>日期：</span>
				    	<span class="date">2015-05-01 至 2015-05-05  共5天
				    	</span>
				    </div>
				    <div>
				    	<span>租金：</span><span>￥800.00</span>
				    </div>	
			  	</div>
			  	<div class="col-xs-2">
			  		<span class="high-light">X2</span>
			  	</div>
			  </div>
			</div>
			<div class="media ">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="..." alt="..." width="50" height="50">
			    </a>
			  </div>
			  <div class="media-body">
			  	<div class="col-xs-10">
			  		<h4 class="media-heading">商品名称：韩国40元套餐</h4>
				    <div>
				    	<span>日期：</span>
				    	<span class="date">2015-05-01 至 2015-05-05  共5天
				    	</span>
				    </div>
				    <div>
				    	<span>租金：</span><span>￥800.00</span>
				    </div>	
			  	</div>
			  	<div class="col-xs-2">
			  		<span class="high-light">X2</span>
			  	</div>
			  </div>
			</div>
			<div class="media ">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="..." alt="..." width="50" height="50">
			    </a>
			  </div>
			  <div class="media-body">
			  	<div class="col-xs-10">
			  		<h4 class="media-heading">商品名称：韩国40元套餐</h4>
				    <div>
				    	<span>日期：</span>
				    	<span class="date">2015-05-01 至 2015-05-05  共5天
				    	</span>
				    </div>
				    <div>
				    	<span>租金：</span><span>￥800.00</span>
				    </div>	
			  	</div>
			  	<div class="col-xs-2">
			  		<span class="high-light">X2</span>
			  	</div>
			  </div>
			</div>
			<div class="row shipping-info">
				<span class="col-xs-12">配送方式：邮寄</span>
			</div>
			<div class="row address-info">
				<span class="col-xs-12">收货人：Visiai 18601587557</span>
				<span class="col-xs-12">收货地址：北京北京北京北京北京北京北京北京北京北京</span>
			</div>
			<div class="row order-info">
				<span class="col-xs-12">订单号：D1234123432932</span>
				<span class="col-xs-12">应付总金额：<em class="high-light">¥8000</em></span>
			</div>	
        </div>