<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/order.min.css">
</head>

<body>
    <nav class="container">
        <div class="row">
            <header class="col-xs-12">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 确认支付
            </header>
        </div>
    </nav>
    <div class="container orderConfirm-box">
        <div class="row table-header">
            <div class="col-xs-6 text-left">商品列表</div>
        </div>
        <div class="media ">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="../resources/images/icon_moments.png" alt="..." width="50" height="50">
                </a>
            </div>
            <div class="media-body">
                <div class="col-xs-10">
                    <h4 class="media-heading">商品名称：韩国40元套餐</h4>
                    <div>
                        <span>日期：</span>
                        <span class="date">2015-05-01 至 2015-05-05  共5天
				    	</span>
                    </div>
                    <div>
                        <span>租金：</span><span>￥800.00</span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <span class="high-light">X2</span>
                </div>
            </div>
        </div>
        <div class="media ">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="..." alt="..." width="50" height="50">
                </a>
            </div>
            <div class="media-body">
                <div class="col-xs-10">
                    <h4 class="media-heading">商品名称：韩国40元套餐</h4>
                    <div>
                        <span>日期：</span>
                        <span class="date">2015-05-01 至 2015-05-05  共5天
				    	</span>
                    </div>
                    <div>
                        <span>租金：</span><span>￥800.00</span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <span class="high-light">X2</span>
                </div>
            </div>
        </div>
        <div class="media ">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="..." alt="..." width="50" height="50">
                </a>
            </div>
            <div class="media-body">
                <div class="col-xs-10">
                    <h4 class="media-heading">商品名称：韩国40元套餐</h4>
                    <div>
                        <span>日期：</span>
                        <span class="date">2015-05-01 至 2015-05-05  共5天
				    	</span>
                    </div>
                    <div>
                        <span>租金：</span><span>￥800.00</span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <span class="high-light">X2</span>
                </div>
            </div>
        </div>
        <div class="row item-set">
            <span class="col-xs-6">租赁数量（套）</span>
            <div class="col-xs-6">
                <button class="icon img-circle">+</button>
                <span>2</span>
                <button class="icon img-circle">-</button>
            </div>
        </div>
        <div class="row">
            <span class="col-xs-6">使用优惠券</span>
            <input type="text" class="col-xs-6" placeholder="输入优惠码">
        </div>
        <div class="row">
            <span class="col-xs-6">使用红包</span>
            <select class="col-xs-6">
                <option>10</option>
                <option>10</option>
                <option>10</option>
            </select>
        </div>
        <div class="row shipping-info">
            <span class="col-xs-6">配送方式</span>
            <ul class="col-xs-6 nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                
                    <a href="#byMail" aria-controls="byMail" role="tab" data-toggle="tab"><input type="radio" name="shippingMethod">邮寄</a>
                </li>
                <li role="presentation">
                
                    <a href="#bySelf" aria-controls="bySelf" role="tab" data-toggle="tab"><input type="radio" name="shippingMethod">自取</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="byMail">
                <span class="col-xs-6">选择地址</span>
                <select class="col-xs-6">
                    <option>自取点自取</option>
                    <option>地址二</option>
                    <option>地址三</option>
                </select>
            </div>
            <div role="tabpanel" class="tab-pane" id="bySelf">
                <a href="address.html" class="text-center">点击完善地址</a>
            </div>
        </div>
       <!--  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="row collapse" id="bySelf" role="tabpanel" aria-labelledby="mail">
            <span class="col-xs-6">选择地址</span>
            <select class="col-xs-6">
            	<option>自取点自取</option>
            	<option>地址二</option>
            	<option>地址三</option>
            </select>
        </div>
        <div class="row collapse" id="byMail" role="tabpanel" aria-labelledby="self">
        	<a href="address.html" class="text-center">点击完善地址</a>
        </div> -->
    </div>
        <div class="row paynow">
        	<button class="btn btn-primary col-xs-12">
        		<span class="col-xs-6 text-left">¥4000</span>
        		<span class="col-xs-6 text-right"><em>确认支付</em></span>
        	</button>
        </div>
    </div>
    <script type="text/javascript" src="../resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
	</body>
</html>
