<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>登录账号</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/shipping.min.css">
</head>
<body>
<nav class="container">
	<div class="row">
		<header class="col-xs-12">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			查询快递公司
		</header>	
	</div>
</nav>
<div class="container">
	<a class="btn btn-primary form-control">顺丰快递</a>
	<a class="btn btn-primary form-control">如风达快递</a>	
	
		<span><em>＊揽件小贴士</em></span>
	<p>点击按钮拨打相应快递公司电话，说明是飞猫无限的快递，快递公司就会派人来取件。
	</p>
</div>




</body>
</html>