<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>归还设备</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/return.min.css">
</head>
<body>
<nav class="container">
	<div class="row">
		<header class="col-xs-12">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			查看物流
		</header>	
	</div>
</nav>
<div class="shipping-box container">
	<section>
		<header>运单详情</header>
		<p><span>收货运单号：</span><span>1234123412341(申通)</span></p>
		<p><span>归还运单号：</span><span>32343123419(顺丰)</span></p>
	</section>
	<section>
		<header>运单详情</header>
		<ul>
			<li class="send active">
				<p>员工009已经签收领取，确认验收，退还押金</p>
				<p>备注：完好，全额退还押金，感谢光顾！</p>
				<p>2015-04－17 12:00:09</p>
			</li>
			<li class="send">
				<p>在北京朝阳分拨中心进行称重扫描</p>
				<p>2015-04－17 12:00:09</p>
			</li>
			<li class="send">
				<p>客户快递退还，顺丰快递：快递单号123212132</p>
				<p>2015-04－17 12:00:09</p>
			</li>
			<li class="back">
				<p>客户意境牵手领取</p>
				<p>2015-04－17 12:00:09</p>
			</li>
			<li class="back">
				<p>在北京朝阳分拨中心进行称重扫描</p>
				<p>2015-04－17 12:00:09</p>
			</li>
			<li class="back">
				<p>商家已发货，物流公司扫描收件</p>
				<p>2015-04－17 12:00:09</p>
			</li>
		</ul>
	</section>
</div>	