<!DOCTYPE html>
<html>
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Home</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/validatePhone.min.css">
</head>
<body>
<form class="validetePhone container" method="post" action="">
	<header>验证手机号</header>
	<div class="row">
		<div class="col-xs-7">
			<input class="form-control" type="text" placeholder="输入手机号码">	
		</div>
		<div class="col-xs-5">
			<button class="form-control btn btn-primary">获取验证码</button>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<input type="text" class="form-control validateNum" placeholder="立即验证">	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-primary btn-validate">立即验证</button>	
		</div>
	</div>
	<div class="checkbox row">
		<label class="col-xs-12">
			<input type="checkbox"> <a href="">* 《飞猫WIFI租赁服务协议与条款》</a>
		</label>
	</div>
</form>
</body>
</html>