@import 'global.less';
body{
	background-color: #fff;
}
.header{
	position: relative;
	.start-box{
		position: absolute;
		bottom: 80px;
		text-align: center;
		width: 100%;
		.btn-tran-blue{
			border: 1px solid #0066cc;
			color: #0066cc;
			padding: 10px 40px;
			border-radius: 5px;
			

		}
	}
}


.a:visited{color: #0066cc;}
.banner{
	.row{ 
		position: relative;
		margin-bottom: 30px;
	}
}
.banner .row:after{ 
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #233f6e;
	top: -25px;
}
.banner-name,.banner-detail{
	position: absolute;
	color: #fff;
	top: -15px;
	left: 10px;
	z-index: 1;
}
.banner-detail{
	bottom: 0;
	top: auto;
	width: 100%;
	left: 0;
	background-color: rgba(0,0,0,.85);
}