.validetePhone{
	header{
		font-size: 1.6em;
		margin: 10px 0;
	}
	.row{
		margin: 10px 0;
		.btn-validate{
			display: block;
			margin: 0 auto;
		}
	}
	.checkbox{
		a{ color: #e71f1b;}
		margin-left: 15px;
		margin-top: 50%;
	}
}